# Visual Studio
*.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.vs

# Vendor
Vendor/PreMake/*.exe

Vendor/VulkanSDK

Vendor/GLFW/include
Vendor/GLFW/lib-vc2022

Vendor/GLM/glm

Vendor/spdlog/include

# Binaries
Bin
